.right-anchor {
  --rightAnchorTextColor: var(--c-text);
  --rightAnchorFontSize: 14px;
  /* Btn */
  --rightAnchorBtnTextColor: var(--rightAnchorTextColor);
  --rightAnchorBtnBgColor: var(--c-bg);
  /* Menu */
  --rightAnchorMenuTextColor: var(--rightAnchorTextColor);
  --rightAnchorMenuBgColor: var(--c-bg);
}

/* dark theme */
.dark .right-anchor {
  --rightAnchorTextColor: var(--c-text);
  --rightAnchorFontSize: 14px;
  /* Btn */
  --rightAnchorBtnTextColor: var(--rightAnchorTextColor);
  --rightAnchorBtnBgColor: var(--c-bg);
  /* Menu */
  --rightAnchorMenuTextColor: var(--rightAnchorTextColor);
  --rightAnchorMenuBgColor: var(--c-bg);
}


#app .page-edit .edit-link a{
  color: #409eff;
}

#app .go-to-top{
  z-index:9;
}

#app .ra-wrapper{
  width : 260px;
  max-height: 90vh;
}

/* 滚动条美化方案开始 去掉下方css的注释即可 */

#app .ra-wrapper ::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
#app .ra-wrapper ::-webkit-scrollbar-track {
	background: rgba(135, 135, 135, 0.1);
}
#app .ra-wrapper ::-webkit-scrollbar-thumb {
	background: rgba(135, 135, 135, 0.4);
	border-radius: 6px;
}
#app .ra-wrapper ::-webkit-scrollbar-thumb:hover {
	background: rgba(135, 135, 135, 0.8);
}

/* 滚动条美化方案结束 */


#app .theme-default-content:not(.custom){
  padding-right: calc(260px + 2.5rem);
}

#app .ra-wrapper .ra-menu-item{
  max-width: 230px;
  /* overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; */
}

@media (max-width: 1366px) {
  #app .ra-wrapper{
    display: none;
  }
  #app .theme-default-content:not(.custom){
    padding: 2rem 2.5rem;
  }
}

@media (min-width: 2000px) {

  #app .ra-wrapper{
    width : 360px;
  }

  #app .theme-default-content:not(.custom){
    padding-right: calc(360px + 2.5rem);
  }

  #app .ra-wrapper .ra-menu-item{
    max-width: 330px;
  }
}

@media (min-width: 3000px) {

  #app .ra-wrapper{
    width : 460px;
  }

  #app .theme-default-content:not(.custom){
    padding-right: calc(460px + 2.5rem);
  }

  #app .ra-wrapper .ra-menu-item{
    max-width: 430px;
  }
}
